.film-card {
  display: flex;
  background: #fcf7f7;
  padding: 18px;
  border-radius: 15px;
  color: #00000080;
  cursor: pointer;

  transition: 0.4s;

  &:hover {
    box-shadow: 0 0 10px #00000030;
  }

  &__image {
    height: 145px;
    width: 130px;
    border: 1px solid transparent;

    &.no-preview {
      border-color: #0000000d;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-text {
      padding: 0 5px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  &__content {
    margin-left: 20px;
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__row {
    display: flex;
    // flex: 1;
  }

  &__info {
    border-left: 1px solid #00000024;
    padding-left: 20px;
    margin-left: 20px;
    flex: 2;

    &-block {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-title {
      font-weight: 600;
      font-size: 23px;
      margin-bottom: 2px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
  }

  &__year {
    font-size: 17px;
    margin-bottom: 5px;
  }

  &__rating {
    margin-bottom: 5px;
  }

  &__favorites {
    display: flex;
    justify-content: flex-end;
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }
}
