.infinite-block {
  height: 20px;
  width: 100%;

  position: relative;

  &__loader {
    position: absolute;
    bottom: 100%;
    margin-bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }
}
