.multiple-slider {
  display: inline-block;
  width: 100%;

  &:last-child {
    margin-right: 0;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }

  &__value {
    font-size: 15px;
    font-weight: 500;
  }
}
